In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_csv('AmesHousing.csv')
df.head(10)

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900
5,6,527105030,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,195500
6,7,527127150,120,RL,41.0,4920,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,213500
7,8,527145080,120,RL,43.0,5005,Pave,NaN,IR1,HLS,...,0,NaN,NaN,NaN,0,1,2010,WD,Normal,191500
8,9,527146030,120,RL,39.0,5389,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,3,2010,WD,Normal,236500
9,10,527162130,60,RL,60.0,7500,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,6,2010,WD,Normal,189000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 82 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Order            2930 non-null   int64
 1   PID              2930 non-null   int64
 2   MS SubClass      2930 non-null   int64
 3   MS Zoning        2930 non-null   object
 4   Lot Frontage     2440 non-null   float64
 5   Lot Area         2930 non-null   int64
 6   Street           2930 non-null   object
 7   Alley            198 non-null    object
 8   Lot Shape        2930 non-null   object
 9   Land Contour     2930 non-null   object
 10  Utilities        2930 non-null   object
 11  Lot Config       2930 non-null   object
 12  Land Slope       2930 non-null   object
 13  Neighborhood     2930 non-null   object
 14  Condition 1      2930 non-null   object
 15  Condition 2      2930 non-null   object
 16  Bldg Type        2930 non-null   object
 17  House Style      2930 non-null   object
 18  Overall Qual     2930 non-null   int64
 19  Overall Cond     2930 non-null   int64
 20  Year Built       2930 non-null   int64
 21  Year Remod/Add   2930 non-null   int64
 22  Roof Style       2930 non-null   object
 23  Roof Matl        2930 non-null   object
 24  Exterior 1st     2930 non-null   object
 25  Exterior 2nd     2930 non-null   object
 26  Mas Vnr Type     1155 non-null   object
 27  Mas Vnr Area     2907 non-null   float64
 28  Exter Qual       2930 non-null   object
 29  Exter Cond       2930 non-null   object
 30  Foundation       2930 non-null   object
 31  Bsmt Qual        2850 non-null   object
 32  Bsmt Cond        2850 non-null   object
 33  Bsmt Exposure    2847 non-null   object
 34  BsmtFin Type 1   2850 non-null   object
 35  BsmtFin SF 1     2929 non-null   float64
 36  BsmtFin Type 2   2849 non-null   object
 37  BsmtFin SF 2     2929 non-null   float64
 38  Bsmt Unf SF      2929 non-null   float64
 39  Total Bsmt SF    2929 non-null   float64
 40  Heating          2930 non-null   object
 41  Heating QC       2930 non-null   object
 42  Central Air      2930 non-null   object
 43  Electrical       2929 non-null   object
 44  1st Flr SF       2930 non-null   int64
 45  2nd Flr SF       2930 non-null   int64
 46  Low Qual Fin SF  2930 non-null   int64
 47  Gr Liv Area      2930 non-null   int64
 48  Bsmt Full Bath   2928 non-null   float64
 49  Bsmt Half Bath   2928 non-null   float64
 50  Full Bath        2930 non-null   int64
 51  Half Bath        2930 non-null   int64
 52  Bedroom AbvGr    2930 non-null   int64
 53  Kitchen AbvGr    2930 non-null   int64
 54  Kitchen Qual     2930 non-null   object
 55  TotRms AbvGrd    2930 non-null   int64
 56  Functional       2930 non-null   object
 57  Fireplaces       2930 non-null   int64
 58  Fireplace Qu     1508 non-null   object
 59  Garage Type      2773 non-null   object
 60  Garage Yr Blt    2771 non-null   float64
 61  Garage Finish    2771 non-null   object
 62  Garage Cars      2929 non-null   float64
 63  Garage Area      2929 non-null   float64
 64  Garage Qual      2771 non-null   object
 65  Garage Cond      2771 non-null   object
 66  Paved Drive      2930 non-null   object
 67  Wood Deck SF     2930 non-null   int64
 68  Open Porch SF    2930 non-null   int64
 69  Enclosed Porch   2930 non-null   int64
 70  3Ssn Porch       2930 non-null   int64
 71  Screen Porch     2930 non-null   int64
 72  Pool Area        2930 non-null   int64
 73  Pool QC          13 non-null     object
 74  Fence            572 non-null    object
 75  Misc Feature     106 non-null    object
 76  Misc Val         2930 non-null   int64
 77  Mo Sold          2930 non-null   int64
 78  Yr Sold          2930 non-null   int64
 79  Sale Type        2930 non-null   object
 80  Sale Condition   2930 non-null   object
 81  SalePrice        2930 non-null   int64
dtypes: float64(11), int64(28), object(43)
memory usage: 1.8+ MB

In [5]:
df[df.isna().any(axis=1)]

,Order,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,1,526301100,20,RL,141.0,31770,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,NaN,0,5,2010,WD,Normal,215000
1,2,526350040,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal,105000
2,3,526351010,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,...,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal,172000
3,4,526353030,20,RL,93.0,11160,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2010,WD,Normal,244000
4,5,527105010,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,...,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,2926,923275080,80,RL,37.0,7937,Pave,NaN,IR1,Lvl,...,0,NaN,GdPrv,NaN,0,3,2006,WD,Normal,142500
2926,2927,923276100,20,RL,NaN,8885,Pave,NaN,IR1,Low,...,0,NaN,MnPrv,NaN,0,6,2006,WD,Normal,131000
2927,2928,923400125,85,RL,62.0,10441,Pave,NaN,Reg,Lvl,...,0,NaN,MnPrv,Shed,700,7,2006,WD,Normal,132000
2928,2929,924100070,20,RL,77.0,10010,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,4,2006,WD,Normal,170000
2929,2930,924151050,60,RL,74.0,9627,Pave,NaN,Reg,Lvl,...,0,NaN,NaN,NaN,0,11,2006,WD,Normal,188000

In [6]:
#Identificacion de features con mas del 60% de valores faltantes
def null_features_identification(df):
    columnas = df.columns    
    drop_columns = []
    for i in columnas:
        if len(df[df[i].isna()])/(len(df)) > 0.6:
            drop_columns.append(i)
    return drop_columns

null_columns = null_features_identification(df)
print(null_columns)

['Alley', 'Mas Vnr Type', 'Pool QC', 'Fence', 'Misc Feature']

In [7]:
#Let's make a list of columns to drop, to have a model with less features.
#the first are going to be the features with more than 60% of missing values and the identifiers columns 'Oder' and 'PID'AmesHousing.csv
drop_columns = null_columns + ['Order', 'PID']

In [8]:
df_1 = df.drop(columns=drop_columns)
df_1

,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,...,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,20,RL,141.0,31770,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,0,0,0,0,0,5,2010,WD,Normal,215000
1,20,RH,80.0,11622,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,120,0,0,6,2010,WD,Normal,105000
2,20,RL,81.0,14267,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,0,0,0,0,12500,6,2010,WD,Normal,172000
3,20,RL,93.0,11160,Pave,Reg,Lvl,AllPub,Corner,Gtl,...,0,0,0,0,0,4,2010,WD,Normal,244000
4,60,RL,74.0,13830,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,3,2010,WD,Normal,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2925,80,RL,37.0,7937,Pave,IR1,Lvl,AllPub,CulDSac,Gtl,...,0,0,0,0,0,3,2006,WD,Normal,142500
2926,20,RL,NaN,8885,Pave,IR1,Low,AllPub,Inside,Mod,...,0,0,0,0,0,6,2006,WD,Normal,131000
2927,85,RL,62.0,10441,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,700,7,2006,WD,Normal,132000
2928,20,RL,77.0,10010,Pave,Reg,Lvl,AllPub,Inside,Mod,...,0,0,0,0,0,4,2006,WD,Normal,170000
2929,60,RL,74.0,9627,Pave,Reg,Lvl,AllPub,Inside,Mod,...,0,0,0,0,0,11,2006,WD,Normal,188000

In [9]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2930 entries, 0 to 2929
Data columns (total 75 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MS SubClass      2930 non-null   int64
 1   MS Zoning        2930 non-null   object
 2   Lot Frontage     2440 non-null   float64
 3   Lot Area         2930 non-null   int64
 4   Street           2930 non-null   object
 5   Lot Shape        2930 non-null   object
 6   Land Contour     2930 non-null   object
 7   Utilities        2930 non-null   object
 8   Lot Config       2930 non-null   object
 9   Land Slope       2930 non-null   object
 10  Neighborhood     2930 non-null   object
 11  Condition 1      2930 non-null   object
 12  Condition 2      2930 non-null   object
 13  Bldg Type        2930 non-null   object
 14  House Style      2930 non-null   object
 15  Overall Qual     2930 non-null   int64
 16  Overall Cond     2930 non-null   int64
 17  Year Built       2930 non-null   int64
 18  Year Remod/Add   2930 non-null   int64
 19  Roof Style       2930 non-null   object
 20  Roof Matl        2930 non-null   object
 21  Exterior 1st     2930 non-null   object
 22  Exterior 2nd     2930 non-null   object
 23  Mas Vnr Area     2907 non-null   float64
 24  Exter Qual       2930 non-null   object
 25  Exter Cond       2930 non-null   object
 26  Foundation       2930 non-null   object
 27  Bsmt Qual        2850 non-null   object
 28  Bsmt Cond        2850 non-null   object
 29  Bsmt Exposure    2847 non-null   object
 30  BsmtFin Type 1   2850 non-null   object
 31  BsmtFin SF 1     2929 non-null   float64
 32  BsmtFin Type 2   2849 non-null   object
 33  BsmtFin SF 2     2929 non-null   float64
 34  Bsmt Unf SF      2929 non-null   float64
 35  Total Bsmt SF    2929 non-null   float64
 36  Heating          2930 non-null   object
 37  Heating QC       2930 non-null   object
 38  Central Air      2930 non-null   object
 39  Electrical       2929 non-null   object
 40  1st Flr SF       2930 non-null   int64
 41  2nd Flr SF       2930 non-null   int64
 42  Low Qual Fin SF  2930 non-null   int64
 43  Gr Liv Area      2930 non-null   int64
 44  Bsmt Full Bath   2928 non-null   float64
 45  Bsmt Half Bath   2928 non-null   float64
 46  Full Bath        2930 non-null   int64
 47  Half Bath        2930 non-null   int64
 48  Bedroom AbvGr    2930 non-null   int64
 49  Kitchen AbvGr    2930 non-null   int64
 50  Kitchen Qual     2930 non-null   object
 51  TotRms AbvGrd    2930 non-null   int64
 52  Functional       2930 non-null   object
 53  Fireplaces       2930 non-null   int64
 54  Fireplace Qu     1508 non-null   object
 55  Garage Type      2773 non-null   object
 56  Garage Yr Blt    2771 non-null   float64
 57  Garage Finish    2771 non-null   object
 58  Garage Cars      2929 non-null   float64
 59  Garage Area      2929 non-null   float64
 60  Garage Qual      2771 non-null   object
 61  Garage Cond      2771 non-null   object
 62  Paved Drive      2930 non-null   object
 63  Wood Deck SF     2930 non-null   int64
 64  Open Porch SF    2930 non-null   int64
 65  Enclosed Porch   2930 non-null   int64
 66  3Ssn Porch       2930 non-null   int64
 67  Screen Porch     2930 non-null   int64
 68  Pool Area        2930 non-null   int64
 69  Misc Val         2930 non-null   int64
 70  Mo Sold          2930 non-null   int64
 71  Yr Sold          2930 non-null   int64
 72  Sale Type        2930 non-null   object
 73  Sale Condition   2930 non-null   object
 74  SalePrice        2930 non-null   int64
dtypes: float64(11), int64(26), object(38)
memory usage: 1.7+ MB

In [60]:
# Now it's time to separate the two classes of variables (continuos and categorical) to discard to discard
#Variable with low variance which provides poor information about the SalePrice of Homes
numeric_cols = df.select_dtypes(include=[np.number]).columns.tolist()
categorical_cols = df.select_dtypes(include=['object', 'category']).columns.tolist()
numeric_cols.remove('SalePrice')

In [82]:
def variance_numeric_columns(df, columns_names):
    numeric_data_variances = df[columns_names].var()
    return numeric_data_variances

numeric_parameters_var = variance_numeric_columns(df, numeric_cols).reset_index()
numeric_parameters_var.columns = ['Feature', 'Variance']
low_numeric_param_var = numeric_parameters_var[numeric_parameters_var['Variance'] < 0.2]
low_numeric_param_var

           Feature  Variance
19  Bsmt Half Bath  0.060149
23   Kitchen AbvGr  0.045829

In [29]:
# numeric_cols
df['1st Flr SF'].var()

153578.46594476528

In [11]:
scaler = StandardScaler()